.Job_block {
  display:inline-block;
  border:1px solid #CCC;

  box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
  vertical-align:middle;
  width: 15%;
  height: 75px;
  padding: 5px;
  text-align: center;
}
.Job_block p{
  font-size: 16pt;
}
.hover {
  color: white;
  border = 5px solid #000;
}
.C{
  text-align: right;
  font-size : 15pt;
  margin : 0;
  border : 0;
  padding: 0;
}
#buttons textarea{
  vertical-align: middle;
}
